#chat_container {
	flex: 1;
	width: 100%;
	height: 100%;
	overflow-y: scroll;

	display: flex;
	flex-direction: column;
	gap: 10px;

	-ms-overflow-style: none;
	scrollbar-width: none;

	padding-bottom: 20px;
	scroll-behavior: smooth;
}

.join_btn:hover {
	border-color: #fdff00;
	background-color: #fdff00;
	color: #000;
	font-weight: 600;
	transition: 0.3s;
}

#first_page {
	margin-top: 125px;
}

.title {
	font-size: 92px;
}

.minutes_span {
	color: #fdff00;
	text-shadow: -10px 0px #000, 1px -1px #000, -1px 1px #000, 1px 1px #000;
}

.example_image {
	margin-left: 144px;
}

.get_started_btn:hover {
	box-shadow: -5px 5px black;
	transition: 0.3s;
	background-color: #fdff00;
	color: #000;
	border: 2px solid black;
}

.get_started_btn:hover:active {
	background-color: #fdff00;
	color: #000;
	transform: translateX(-5px);
	box-shadow: 0 0;
	transition: 0.3s;
}

.forms {
	width: 100%;
	border: 2px solid black;
	border-radius: 9px;
	box-shadow: 10px 10px 4px -2px rgba(253, 255, 0, 1);
	-webkit-box-shadow: 10px 10px 4px -2px rgba(253, 255, 0, 1);
	-moz-box-shadow: 10px 10px 4px -2px rgba(253, 255, 0, 1);
}

#example {
	margin-top: 244px;
}

.forms::-webkit-scrollbar,
#chat_container::-webkit-scrollbar {
	display: none;
}

.output_container {
	border: 2px solid black;
	border-radius: 9px;
	box-shadow: 10px 10px 4px -2px rgba(253, 255, 0, 1);
	-webkit-box-shadow: 10px 10px 4px -2px rgba(253, 255, 0, 1);
	-moz-box-shadow: 10px 10px 4px -2px rgba(253, 255, 0, 1);
	resize: vertical;
	max-height: 444px;
}
